@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.irs--shiny .irs-bar, .irs--shiny .irs-single {
  border: #6247aa;
  background: #6247aa;
}

body, h2, .main-header .logo {
  font-family: "DM Sans", sans-serif;
}